-e nemo-gym[dev] @ ../../
verifiers @ git+https://github.com/PrimeIntellect-ai/verifiers.git@v0.3.1
--extra-index-url https://hub.primeintellect.ai/primeintellect/simple/
acereason-math
-e ../../benchmarks/automationbench
