-e nemo-gym[dev] @ ../../
sentencepiece==0.2.1
transformers==4.57.1
protobuf==6.33.5
datasketch==2.0.0
spacy==3.8.16
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
